#main{
  width:1130px;
  margin:0 auto;      
}
#banner{
  width:1130px;
  overflow:hidden;
  position:relative;
}
#ul-imgs{
  list-style:none;
  
}
#ul-imgs.transition{
  transition:all .5s linear;
}
#ul-imgs>li{
  width:1130px;
  float:left;
}
#ul-imgs img{
  width:1130px;
  border-radius: 5px;
}
#ul-idxs{
  width:1000px;
  margin:0 auto;
  list-style:none;
  position:absolute;
  bottom:25px;
  left:50%;
  margin-left:-50px;
}
#ul-idxs>li{
  float:left;
  width:10px; height:10px;
  background-color:#fff;
  border-radius:5px;
  margin:0 5px;
  cursor:pointer;
}
#ul-idxs>li.active{
  background-color:blue;
}
#btn-left,#btn-right{
  width:60px;
  height:18rem;
  position:absolute;
  top:0;
  background-repeat:no-repeat;
  background-position:center;
  cursor:pointer;
}
#btn-left{
  left:20px;
  background-image: url(../img/index/left_ar.png);
  background-size: 25%;
}
#btn-right{
  right:20px;
  background-image:url(../img/index/right_ar.png);
  background-size: 25%;
}
#btn-left:hover,#btn-right:hover{
  background-size:20px 40px
}