*{margin: 0;padding: 0;}
/* 鼠标放ul>li 上，显示小手 */
.nav_bg ul>li{
    cursor:pointer;
    width: 76px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    list-style: none;
    font-size: 15px;
}
/* nav背景色 */
.nav_bg{
    background: #ffe300;
    width: 100%;
    height: 56px;
    margin-bottom: 1rem;
}
/* nav背景色上方div */
.nav{
    width: 100%;
    height: 56px;
    display: flex;
    margin-right: 0;
}
.nav-ul{
    display: flex;
    margin: 0 auto;
}
/* search */
.search{
    width: 60px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    float: left;
    position: relative;
    margin-left: -7rem;
}
.search img{
    width: 20px;
    height: 20px;
}
/* nav-right */
.nav-right{
    width: 117px;
    height: 56px;
    margin: -3.5rem 0 0 2.5rem;
}
.denglu1{
    display: flex;
}
.user-right-load{
    width: 60px;
    height: 56px;
    margin-right: 0;
    box-sizing: border-box;
}
/* nav左边logo大小 位置 */
.logo{
    width: 120px;
    height: 20px;
    padding-top: 17px;
    margin-left: 26px;
}
/* 导航栏img大小 */
.nav-ul img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
/*  "首页"字体*/
.my-text-wight{
    font-weight: 600;
} 
.user-right img{
    width: 20px;
    height: 20px;
    margin-top: 1rem;
    vertical-align: middle;
}
/* 除了第一个子元素外，每个子元素添加的样式 */
.nav-ul li+li{
    margin-left: 10px;
}
/* nav中小红点 */
.nav_dot_sup{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ff4a3b;
    border-radius: 50%;
    margin:0 0 2px 3px;
    position: absolute;
    top:20px;
}
/* nav-ul hover */
.nav-ul>li:hover{
    background: #000;
    color: #ffe300;
}
.denglu1 a{
    text-decoration: none;
    color: #000;
}
/* nav 最右边 居右 */
.juyou{
    justify-content: end;
}