/* 鼠标放ul>li 上，显示小手 */
ul>li{
    cursor:pointer;
}
/* nav背景色 */
.nav_bg{
    background: #ffe300;
    width: 100%;
    height: 56px;
}
/* nav左边logo大小 位置 */
.logo{
    width: 120px;
    height: 20px;
    padding-top: 17px;
    margin-left: 26px;
}
/*中间清除边距溢出*/
.position::after{
    content: "";
    display: table;
}
/* li去掉点 */
.my_li{list-style: none;}
/* 左浮动 */
.float{
    float:left;
}
/* nav中间部分ul位置 */
.ul_position{
    margin-left: 10rem;
    margin-top: 19px;
}
/* 导航栏img大小 */
.my_img{
    width: 20px;
    height: 20px;
}
/* nav字体大小 */
.my_text{
    font-size: 14px;
}
/*  "首页"字体*/
.my-text-wight{
    font-weight: 600;
} 

/* 除了第一个子元素外，每个子元素添加的样式 */
div.nav_bg>ul>li:not(:first-child){
    margin-left: 52px;
}
/* 登录、注册位置 */
.d_position{
  margin-top: 17px;
  margin-left: 25px;
}
.size{
    width: 117px;
    height: 60px;
}
.ml{
    margin-left: 13px;
}
/* nav中小红点 */
.nav_dot_sup{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ff4a3b;
    border-radius: 50%;
    margin:0 0 2px 3px;
    position: absolute;
    top:20px;
}
